html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h2,
h3,
h4,
h5,
.h5-modal-window,
.paragraph-l,
.paragraph-s {
    color: #C4C4C4;
}

h2,
h3,
h4,
h5,
.h5-modal-window {
    font-family: "Georgia", sans-serif;
    font-style: normal;
    font-weight: normal;
}

h3,
h4,
h5,
.h5-modal-window {
    font-family: "Georgia", sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.06em;
}

h2 {
    font-size: 44px;
    line-height: 130%;
}

h3 {
    font-size: 35px;
    line-height: 130%;
}

h4 {
    font-size: 20px;
    line-height: 115%;
}

h5 {
    font-size: 15px;
    line-height: 110%;
}

.h5-modal-window {
    font-size: 15px;
    line-height: 110%;
}

.paragraph-l,
.paragraph-s {
    font-family: "Arial", sans-serif;
}

.paragraph-l {
    font-size: 15px;
    line-height: 160%;
}

.paragraph-s {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
}

.btn {
    padding: 15px 45px;
    height: 52px;
    border-radius: 100px;
    border: 0;
    background: #F1CDB3;
    font-family: "Georgia", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.btn:hover {
    background: #FDDCC4;
}

.switch {
    padding: 0;
    width: 63px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0);
}

.switch:hover {
    background: #FDDCC4;
}

/*start styles header*/

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    max-width: 1200px;
    width: 100%;
    margin-top: 60px;
    margin-left: 41px;
}

.header__logo {
    display: flex;
    flex-direction: column;
}

.logo__title {
    font-family: "Georgia", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-bottom: 10px;
}

.logo__subtitle {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding-left: 3px;
}

.nav-menu__list {
    display: flex;
    gap: 35px;
    margin-right: 3px;
}

.nav-menu__item.active, .nav-menu__item:hover {
    color: #FAFAFA;
}

.nav-menu__item.active {
    border-bottom: 3px solid #F1CDB3
}

/*end styles header*/

/*start styles main*/

/*start styles start-screen*/

.main__start-screen {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    margin-bottom: 80px;
}

.start-screen-container {
    display: grid;
    grid-gap: 42px;
}

.start-screen-container {
    grid-template-columns: minmax(330px, 1fr) minmax(auto, 698px);
}

.start-screen__content {
    margin-top: 343px;
}

.start-screen__heading {
    color: #FFFFFF;
    margin-bottom: 42px;
    max-width: 310px;
    letter-spacing: 0;
}

.start-screen__subheading {
    max-width: 460px;
    margin-bottom: 42px;
}

.start-screen__puppy {
    margin-top: 180px;
    max-width: 698px;
}

/*end styles start-screen*/

/*start styles about*/

.main__about {
    margin-bottom: 100px;
}

.about__container {
    display: flex;
    gap: 120px;
    justify-content: center;
}

.about__pets {
    width: 300px;
    height: 408px;
}

.about__content {
    display: flex;
    flex-direction: column;
    width: 430px;
    padding-top: 14px;
}

.about__heading {
    color: #545454;
    width: 370px;
    margin-bottom: 25px;
}

.about__subheading {
    color: #4C4C4C;
    margin-bottom: 25px;
}

/*end styles about*/

/*start styles pets*/

.main__pets {
    background: #F6F6F6;
    padding-top: 70px;
    padding-bottom: 100px;
}

.pets__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.pets__heading {
    width: 480px;
    color: #545454;
    text-align: center;
    margin-right: 50px;
    margin-top: -1px;
}

.pets__slider {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 53px;
}

.slider__pets-cards {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
}


.slider__pets-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background: #FAFAFA;
}

.pets-card__photo {
    width: 270px;
}

.pets-card__title {
    color: #545454;
}

.pets-card__more {
    padding-top: 15px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #F1CDB3;
    margin-bottom: 30px;
}

/*end styles pets*/

/*start styles help*/

.help__content {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__heading {
    max-width: 310px;
    color: #545454;
    margin-bottom: 60px;
    text-align: center;
}

.help__list {
    display: flex;
    column-gap: 120px;
    row-gap: 55px;
    flex-wrap: wrap;
    max-width: 1030px;
    justify-content: center;
}


.help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__item-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}

.help__item-title {
    color: #545454;
}

/*end styles help*/

/*start styles donation*/

.main__donation {
    background: #F6F6F6;
    padding-top: 78px;
    padding-bottom: 100px;
}

.donation__container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.donation__img {
    max-width: 505px;
    max-height: 261px;
}

.donation__content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.donation__heading {
    color: #545454;
    max-width: 300px;
}

.donation__subheading {
    color: #545454;
}

.donation__credit-card {
    width: 350px;
    display: flex;
    gap: 15px;
    background: #F1CDB3;
    padding: 10px 15px;
    border-radius: 9px;
}

.credit-card__svg {
    width: 30px;
    height: 23px;
}

.credit-card__number {
    color: #545454;
}

.donation__description {
    color: #B2B2B2
}

/*end styles donation*/

/*end styles main*/

/*start styles footer*/

.footer__background {
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    padding-top: 40px;
}

.footer__container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 300px 320px 300px;
    grid-template-areas: "contacts location puppy"
}

.footer__contacts,
.footer__locations {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 15px;
    max-height: 234px;
}

.footer__contacts {
    grid-area: contacts;
}

.footer__locations {
    grid-area: location;
    gap: 35px;
    max-width: 305px;
}

.contacts__title,
.locations__title {
    color: #FFFFFF;
}

.contacts__mail,
.contacts__phone,
.locations__boston,
.locations__london {
    display: flex;
    gap: 20px;
}

.mail__icon,
.phone__icon {
    width: 40px;
    height: 32px;
}

.mail__address-text,
.phone__number-text,
.locations__address {
    color: #F1CDB3;
}

.locations__icon {
    width: 22px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__img {
    max-width: 300px;
    grid-area: puppy;
}

/*end styles footer*/

@media screen and (max-width: 1270px) {
    .header {
        max-width: 95vw;
        margin-left: 15px;
    }

    .start-screen-container {
        grid-gap: 0;
    }

    .start-screen__content {
        padding-left: 15px;
        margin-top: 28vw;

    }

    .start-screen__puppy {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    .pets__slider{

        /*padding: 0 30px;*/
    }
    .help__item {
        width: 170px;
    }
    .help__list{
        margin: 0 15px;
    }

    .footer__container {
        padding-left: 15px;
    }
}

@media screen and (max-width: 980px) {
    .slider__pets-card:last-child {
        display: none;
    }

    .donation__container{
        flex-direction: column-reverse;
    }

    .footer__container {
        grid-template-rows: 234px 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "contacts location"
                             "puppy    puppy";
        justify-items: center;
        column-gap: 60px;
        row-gap: 65px;
    }

    .footer__img {
        grid-column-start: span 2;
    }
}

@media screen and (max-width: 850px) {
    .pets__slider{
        gap: 12px;
    }
}