html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

h2,
h3,
h4,
h5,
.h5-modal-window,
.paragraph-l,
.paragraph-s {
    color: #C4C4C4;
}

h2,
h3,
h4,
h5,
.h5-modal-window {
    font-family: "Georgia", sans-serif;
    font-style: normal;
    font-weight: normal;
}

h3,
h4,
h5,
.h5-modal-window {
    font-family: "Georgia", sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.06em;
}

h2 {
    font-size: 44px;
    line-height: 130%;
}

h3 {
    font-size: 35px;
    line-height: 130%;
}

h4 {
    font-size: 20px;
    line-height: 115%;
}

h5 {
    font-size: 15px;
    line-height: 110%;
}

.h5-modal-window {
    font-size: 15px;
    line-height: 110%;
}

.paragraph-l,
.paragraph-s {
    font-family: "Arial", sans-serif;
}

.paragraph-l {
    font-size: 15px;
    line-height: 160%;
}

.paragraph-s {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
}

.btn {
    padding: 15px 45px;
    height: 52px;
    border-radius: 100px;
    border: 0;
    background: #F1CDB3;
    font-family: "Georgia", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    color: #292929;
}

.btn:hover {
    background: #FDDCC4;
}


.switch {
    padding: 0;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0);
    font-weight: 900;
}

.switch:hover {
    background: #FDDCC4;
}

/*start styles header*/
.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 60px;
    max-width: 1200px;
    width: 100%;
    padding-left: 40px;
    margin-top: 60px;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__title {
    font-family: "Georgia", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.1em;
    color: #F1CDB3;
    margin-bottom: 10px;
}

.logo__subtitle {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header__nav-menu {

}

.nav-menu__list {
    display: flex;
    gap: 35px;
}

.nav-menu__item.active, .nav-menu__item:hover {
    color: #FAFAFA;
}

.nav-menu__item.active {
    border-bottom: 3px solid #F1CDB3
}

/*end styles header*/

/*start styles main*/
/*start styles start-screen*/

.main__start-screen {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    margin-bottom: 80px;
}

.start-screen-container {
    display: flex;
}

.start-screen__content {
    margin-top: 343px;
}

.start-screen__heading {
    color: #FFFFFF;
    margin-bottom: 42px;
    width: 310px;
    letter-spacing: 0;
}

.start-screen__subheading {
    width: 460px;
    margin-bottom: 42px;
}

.start-screen__puppy {
    margin-top: 180px;
    width: 698px;
    height: 728px;
}

/*end styles start-screen*/


/*start styles about*/

.main__about {
    margin-bottom: 100px;
}

.about__container {
    display: flex;
    gap: 120px;
    justify-content: center;
}

.about__pets {
    width: 300px;
    height: 408px;
}

.about__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 430px;
}

.about__heading {
    color: #545454;
    width: 370px;
}

.about__subheading {
    color: #4C4C4C;
}

/*end styles about*/

/*start styles pets*/

.main__pets {
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}

.pets__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.pets__heading {
    width: 400px;
    color: #545454;
}

.pets__slider {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


.slider__pets-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background: #FAFAFA;
}

.pets-card__photo {
    width: 270px;
    height: 270px;
}

.pets-card__title {
    color: #545454;
}

.pets-card__more {
    background: rgba(255, 255, 255, 0);
    border: 2px solid #F1CDB3;
}

.pets_primary {
}

/*end styles pets*/

/*start styles help*/


.main__help {
}

.help__content {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__heading {
    max-width: 310px;
    color: #545454;
    margin-bottom: 60px;
    text-align: center;
}

.help__list {
    display: flex;
    column-gap: 120px;
    row-gap: 55px;
    flex-wrap: wrap;
    max-width: 1040px;
    justify-content: space-evenly;
}

.help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__item-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}

.help__item-title {
    color: #545454;
}

/*end styles help*/

/*start styles donation*/

.main__donation {
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}

.donation__container {
    display: flex;
    gap: 30px;
}

.donation__img {
    max-width: 505px;
}

.donation__content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.donation__heading {
    color: #545454;
    max-width: 300px;
}

.donation__subheading {
    color: #545454;
}

.donation__credit-card {
    width: 350px;
    display: flex;
    gap: 15px;
    background: #F1CDB3;
    padding: 10px 15px;
    border-radius: 9px;
}

.credit-card__svg {
    width: 30px;
    height: 23px;
}

.credit-card__number {
    color: #545454;
}

.donation__description {
    color: #B2B2B2
}

/*end styles donation*/

/*end styles main*/
