.nav-menu-tablet .nav-menu__item_active, .nav-menu-tablet .nav-menu__item:hover, .header.our-pets .nav-menu__item:hover, .donation .credit-card:hover, .modal-window .btn-close-window, .pets-cards .pets-card:hover .button, .header .nav-menu__item_active, .header .nav-menu__item:hover, .switch:hover, .button:hover {
  transition: all 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, .switch.switch-slider, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Georgia Regular";
  src: url("../assets/fonts/Georgia.eot");
  src: url("../assets/fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Georgia.woff") format("woff"), url("../assets/fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial-ItalicMT.eot");
  src: local("Arial Italic"), local("Arial-ItalicMT"), url("../assets/fonts/Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Arial-ItalicMT.woff") format("woff"), url("../assets/fonts/Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/ArialMT.eot");
  src: local("Arial"), local("ArialMT"), url("../assets/fonts/ArialMT.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/ArialMT.woff") format("woff"), url("../assets/fonts/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h2 {
  color: #C4C4C4;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 130%;
}

h3 {
  color: #545454;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 45px;
}

@media screen and (max-width: 767.5px) {
  .h3-mobile {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: normal;
    line-height: 130%;
    text-align: center;
  }
}

h4, .switch.switch-slider {
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
}

h5 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
}

.h5-modal-window {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
}

.paragraph-l {
  font-family: Arial, sans-serif;
  letter-spacing: 0;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 160%;
}
@media screen and (max-width: 500px) {
  .paragraph-l {
    text-align: center;
  }
}

.paragraph-s {
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: normal;
  line-height: 150%;
}

@media screen and (max-width: 767.5px) {
  .paragraph-mobile-menu {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: normal;
    line-height: 160%;
    font-family: "Arial", sans-serif;
  }
}

.logo__title {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
}

.logo__subtitle {
  font-family: "Arial", sans-serif;
  letter-spacing: 0.1em;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  line-height: 15px;
}

@media screen and (max-width: 500px) {
  .credit-card {
    font-size: 15px;
    line-height: 110%;
  }
}

@media screen and (max-width: 500px) {
  .help__item-title {
    font-size: 15px;
    line-height: 110%;
  }
}

@media screen and (max-width: 1279.5px) {
  .pets-card__description {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: normal;
    line-height: 110%;
  }
}

html {
  scroll-behavior: smooth;
  background: #FFFFFF;
}

.page.page-shadow:before {
  content: "";
  display: block;
  width: 100%;
  height: inherit;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(41, 41, 41, 0.6);
  cursor: pointer;
}

*, *:before, *:after {
  font-family: "Georgia Regular", sans-serif;
  letter-spacing: 0.06em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 40px;
}
@media screen and (max-width: 1279.5px) {
  .wrapper {
    margin: 0 30px;
  }
}
@media screen and (max-width: 767.5px) {
  .wrapper {
    margin: 0 10px;
  }
}

.logo__title {
  color: #F1CDB3;
  margin-bottom: 10px;
}
.logo__subtitle {
  display: flex;
  justify-content: "";
  align-items: center;
  gap: 0px;
  color: #FFFFFF;
  padding-left: 4px;
}

.no-scroll {
  overflow-y: hidden;
}

.hidden {
  display: none;
}

.shadow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(41, 41, 41, 0.6);
  cursor: pointer;
}

.button {
  padding: 16px 45px;
  height: 52px;
  border-radius: 100px;
  border: 0;
  background: #F1CDB3;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.button:hover {
  background: #FDDCC4;
}

.button_transparent {
  background: rgba(255, 255, 255, 0);
  border: 2px solid #F1CDB3;
}

.switch {
  padding: 0;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0);
  font-size: 1.4rem;
}
.switch:hover {
  background: #FDDCC4;
}
.switch_active {
  cursor: default;
  background: #F1CDB3;
}
.switch_active:hover {
  background: #F1CDB3;
}
.switch_inactive {
  color: #CDCDCD;
  border-color: #CDCDCD;
  cursor: default;
}
.switch_inactive:hover {
  background: none;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  max-width: 1200px;
  width: calc(100% - 60px);
  margin: 60px 0 0 40px;
  color: #CDCDCD;
}
@media screen and (max-width: 767.5px) {
  .header {
    width: calc(100% - 63px);
  }
}
.header .burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .header {
    margin: 30px 0 30px 30px;
  }
}
@media screen and (max-width: 767.5px) {
  .header .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
    z-index: 50;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .header .burger span, .header .burger:before, .header .burger:after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
    transition: all 0.3s ease-in-out;
  }
  .header .burger span {
    left: 0;
    top: 10px;
  }
  .header .burger:before, .header .burger:after {
    content: "";
  }
  .header .burger:before {
    top: 0;
  }
  .header .burger:after {
    bottom: 0;
  }
  .header .burger:hover:before {
    top: 2px;
  }
  .header .burger:hover:after {
    bottom: 2px;
  }
  .header .burger_open {
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 500px) {
  .header {
    margin: 30px 0 30px 10px;
  }
}
@media screen and (max-width: 767.5px) {
  .header .nav-menu {
    position: fixed;
    top: 0;
    z-index: 3;
    right: -100%;
    max-width: 320px;
    width: 100%;
    height: 100%;
    background: #292929;
    transition: all 0.5s ease-in-out;
  }
  .header .nav-menu_open {
    right: 0;
  }
}
.header .nav-menu .logo {
  display: none;
}
@media screen and (max-width: 767.5px) {
  .header .nav-menu .logo {
    width: 190px;
    display: block;
    margin-top: 30px;
    margin-left: 10px;
  }
}
.header .nav-menu__list {
  display: flex;
  justify-content: "";
  align-items: "";
  gap: 35px;
  margin: 0 2px 0 0;
}
@media screen and (max-width: 768px) {
  .header .nav-menu__list {
    margin: -1px 2px 0 0;
  }
}
@media screen and (max-width: 767.5px) {
  .header .nav-menu__list {
    margin-top: -60px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
.header .nav-menu__item_active, .header .nav-menu__item:hover {
  color: #FAFAFA;
}
.header .nav-menu__item_active {
  border-bottom: 3px solid #F1CDB3;
}

@media screen and (max-width: 767.5px) {
  .nav-menu__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.not-only {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 180px;
  margin-bottom: 80px;
}
@media screen and (max-width: 1000px) {
  .not-only {
    padding-top: 150px;
  }
}
@media screen and (max-width: 500px) {
  .not-only {
    margin-bottom: 42px;
  }
}
.not-only__container {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  gap: 0px;
}
@media screen and (max-width: 1279.5px) {
  .not-only__container {
    flex-direction: column;
    gap: 100px;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .not-only__container {
    gap: 110px;
  }
}
.not-only__container .content {
  margin-top: 163px;
  max-width: 460px;
}
.not-only__container .content .heading {
  color: #FFFFFF;
  letter-spacing: 0;
}
@media screen and (max-width: 1279.5px) {
  .not-only__container .content .heading {
    margin-left: -153px;
  }
}
@media screen and (max-width: 767.5px) {
  .not-only__container .content .heading {
    margin-left: 0;
  }
}
@media screen and (max-width: 320px) {
  .not-only__container .content .heading {
    letter-spacing: 0.06em;
  }
}
.not-only__container .content .subheading {
  color: #CDCDCD;
  margin: 42px 0;
}
@media screen and (max-width: 320px) {
  .not-only__container .content .subheading {
    margin: 41px 0 42px 0;
  }
}
@media screen and (max-width: 1279.5px) {
  .not-only__container .content {
    margin: 0;
    display: flex;
    justify-content: "";
    align-items: center;
    gap: 0px;
    flex-direction: column;
  }
}
.not-only__puppy {
  width: 58.1666666667%;
}
@media screen and (max-width: 1000px) {
  .not-only__puppy {
    margin-left: 140px;
    width: 100%;
    max-width: 569px;
    max-height: 593px;
  }
}
@media screen and (max-width: 767.5px) {
  .not-only__puppy {
    margin-left: 15px;
  }
}
@media screen and (max-width: 450px) {
  .not-only__puppy {
    max-width: 255px;
    max-height: 271.77px;
    margin-left: 38px;
  }
}

.about {
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .about {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 500px) {
  .about {
    margin-bottom: 42.4px;
  }
}

.about .container {
  display: flex;
  justify-content: center;
  align-items: "";
  gap: 120px;
}
@media screen and (max-width: 1279.5px) {
  .about .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 55px;
  }
}
@media screen and (max-width: 500px) {
  .about .container {
    gap: 19px;
  }
}
.about__pets {
  max-width: 300px;
  max-height: 408px;
}
@media screen and (max-width: 500px) {
  .about__pets {
    max-width: 260px;
    max-height: 353.6px;
  }
}
.about .content {
  display: flex;
  justify-content: normal;
  align-items: normal;
  gap: 0px;
  flex-direction: column;
  max-width: 430px;
  padding-top: 14px;
}
@media screen and (max-width: 850px) {
  .about .content {
    padding: 0;
  }
}
@media screen and (max-width: 767.5px) {
  .about .content .paragraph-l {
    text-align: justify;
  }
}
@media screen and (max-width: 320px) {
  .about .content {
    max-width: 270px;
  }
}
.about .heading {
  color: #545454;
  margin-bottom: 25px;
}
.about .subheading {
  color: #4C4C4C;
  margin-bottom: 25px;
}
@media screen and (max-width: 500px) {
  .about .subheading {
    margin-bottom: 22px;
  }
}

.pets {
  padding: 80px 0 100px;
  background: #F6F6F6;
}
@media screen and (max-width: 500px) {
  .pets {
    padding: 42px 0 45px;
  }
}
.pets .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .pets .content {
    gap: 41px;
  }
}
.pets .heading {
  text-align: center;
}
.pets .slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
@media screen and (max-width: 500px) {
  .pets .slider {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 80px;
  }
  .pets .slider .pets-card {
    order: 5;
  }
  .pets .slider .arrow-left {
    order: 3;
  }
  .pets .slider .arrow-right {
    order: 4;
  }
}

.pets-container {
  position: relative;
  width: 990px;
  overflow: hidden;
}
@media screen and (max-width: 1100px) {
  .pets-container {
    width: 81.5%;
  }
}
@media screen and (max-width: 500px) {
  .pets-container {
    width: 100%;
  }
}

.pets-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  position: relative;
  left: -1080px;
}
@media screen and (max-width: 1279.5px) {
  .pets-cards {
    gap: 39px;
    justify-content: space-evenly;
    left: 0;
  }
}
@media screen and (max-width: 767.5px) {
  .pets-cards {
    justify-content: center;
  }
}
.pets-cards .item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  cursor: pointer;
  min-width: 990px;
}
@media screen and (max-width: 1279.5px) {
  .pets-cards .item {
    gap: 39px;
  }
}
.pets-cards .pets-card {
  width: 270px;
  height: 435px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  background: #FAFAFA;
  border-radius: 9px;
  cursor: pointer;
}
@media screen and (max-width: 1279.5px) {
  .pets-cards .pets-card:last-child {
    display: none;
  }
}
@media screen and (max-width: 767.5px) {
  .pets-cards .pets-card:nth-last-child(2) {
    display: none;
  }
}
.pets-cards .pets-card:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FFFFFF;
}
.pets-cards .pets-card:hover .button {
  background: #FDDCC4;
}
.pets-cards .pets-card__name {
  color: #545454;
}
.pets-cards .pets-card .button_transparent {
  margin-bottom: 30px;
}

.modal-window {
  position: fixed;
  width: 900px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  border-radius: 9px;
  z-index: 5;
  cursor: default;
}
@media screen and (max-width: 1279.5px) {
  .modal-window {
    width: 630px;
    height: 350px;
  }
}
@media screen and (max-width: 767.5px) {
  .modal-window {
    width: 240px;
  }
}
.modal-window__wrapper {
  display: flex;
  border-radius: 9px;
  gap: 29px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #000000;
  background: #FAFAFA;
}
@media screen and (max-width: 1279.5px) {
  .modal-window__wrapper {
    gap: 11px;
  }
}
.modal-window__content {
  margin-right: 20px;
}
@media screen and (max-width: 1279.5px) {
  .modal-window__content {
    margin-right: 10px;
  }
}
@media screen and (max-width: 767.5px) {
  .modal-window__content {
    margin: 10px;
  }
}
.modal-window .btn-close-window {
  position: absolute;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  right: -45px;
  top: -50px;
  z-index: 5;
  cursor: pointer;
}
@media screen and (max-width: 767.5px) {
  .modal-window .btn-close-window {
    right: -30px;
  }
}
.modal-window .btn-close-window:hover {
  background-color: #FDDCC4;
}
.modal-window .btn-close-window.hover {
  background-color: #FDDCC4;
}
.modal-window .btn-close-window:before, .modal-window .btn-close-window:after {
  position: absolute;
  content: "";
  background: #292929;
  width: 12px;
  height: 1px;
  left: 18px;
  top: 24px;
}
.modal-window .btn-close-window:before {
  transform: rotate(45deg);
}
.modal-window .btn-close-window:after {
  transform: rotate(-45deg);
}
.modal-window .pets-card__photo {
  width: 500px;
  height: 500px;
  border-radius: 9px 0 0 9px;
}
@media screen and (max-width: 1279.5px) {
  .modal-window .pets-card__photo {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 767.5px) {
  .modal-window .pets-card__photo {
    display: none;
  }
}
.modal-window .pets-card__name {
  color: #000000;
  margin-top: 50px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1279.5px) {
  .modal-window .pets-card__name {
    margin-top: 10px;
  }
}
.modal-window .pets-card__breed {
  margin-bottom: 40px;
}
@media screen and (max-width: 1279.5px) {
  .modal-window .pets-card__breed {
    margin-bottom: 20px;
  }
}
.modal-window .pets-card__description {
  margin-bottom: 40px;
}
@media screen and (max-width: 1279.5px) {
  .modal-window .pets-card__description {
    margin-bottom: 20px;
  }
}
.modal-window .h5-modal-window {
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
}
@media screen and (max-width: 1279.5px) {
  .modal-window .h5-modal-window {
    margin-bottom: 5px;
  }
}
.modal-window .h5-modal-window:before {
  position: absolute;
  left: 0;
  top: 6px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #F1CDB3;
}
.modal-window .h5-modal-window:last-child {
  margin-bottom: 0;
}
@keyframes move-right-3card {
  from {
    left: -1080px;
  }
  to {
    left: -2160px;
  }
}
@keyframes move-right-2card {
  from {
    left: 0;
  }
  to {
    left: -1030px;
  }
}
@keyframes move-right-1card {
  from {
    left: 0;
  }
  to {
    left: -1030px;
  }
}
@keyframes move-left-3card {
  from {
    left: -1080px;
  }
  to {
    left: 0;
  }
}
@keyframes move-left-2card {
  from {
    left: 0;
  }
  to {
    left: 1030px;
  }
}
@keyframes move-left-1card {
  from {
    left: 0;
  }
  to {
    left: 1030px;
  }
}
@media screen and (min-width: 1280px) {
  .transition-right {
    animation-name: move-right-3card;
    animation-duration: 1s;
  }
}
@media screen and (max-width: 1279.5px) {
  .transition-right {
    animation-name: move-right-2card;
    animation-duration: 1s;
  }
}
@media screen and (max-width: 767.5px) {
  .transition-right {
    animation-name: move-right-1card;
    animation-duration: 1s;
  }
}

@media screen and (min-width: 1280px) {
  .transition-left {
    animation-name: move-left-3card;
    animation-duration: 1s;
  }
}
@media screen and (max-width: 1279.5px) {
  .transition-left {
    animation-name: move-left-2card;
    animation-duration: 1s;
  }
}
@media screen and (max-width: 767.5px) {
  .transition-left {
    animation-name: move-left-1card;
    animation-duration: 1s;
  }
}

.help .content {
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  justify-content: "";
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .help .content {
    margin-top: 40px;
    margin-bottom: 42px;
  }
}
.help .heading {
  max-width: 310px;
  color: #545454;
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .help .heading {
    max-width: 250px;
    margin-bottom: 42px;
  }
}
.help__list {
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 0px;
  column-gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
  max-width: 1030px;
}
@media screen and (max-width: 1270px) {
  .help__list {
    margin: 0 15px;
  }
}
@media screen and (max-width: 850px) {
  .help__list {
    column-gap: 60px;
  }
}
@media screen and (max-width: 500px) {
  .help__list {
    gap: 30px;
    margin: 0 0 0 5px;
    justify-content: flex-start;
  }
}
.help__item {
  display: flex;
  justify-content: "";
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
@media screen and (max-width: 1270px) {
  .help__item {
    width: 170px;
  }
}
@media screen and (max-width: 500px) {
  .help__item {
    width: 130px;
    height: 87px;
  }
}
.help__item-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}
@media screen and (max-width: 500px) {
  .help__item-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }
}
.help__item-title {
  color: #545454;
}
@media screen and (max-width: 500px) {
  .help__item-title {
    font-size: 15px;
    line-height: 110%;
  }
}

.donation {
  background: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 101px;
}
@media screen and (max-width: 500px) {
  .donation {
    padding-top: 40px;
    padding-bottom: 42px;
  }
}

.donation .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 980px) {
  .donation .container {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 850px) {
  .donation .container {
    gap: 60px;
  }
}
@media screen and (max-width: 500px) {
  .donation .container {
    gap: 42px;
  }
}
.donation__puppy {
  max-width: 505px;
  max-height: 261px;
}
@media screen and (max-width: 760px) {
  .donation__puppy {
    max-width: 81.25vw;
  }
}
.donation .content {
  max-width: 380px;
  display: flex;
  justify-content: "";
  align-items: "";
  gap: 20px;
  flex-direction: column;
}
@media screen and (max-width: 767.5px) {
  .donation .content {
    align-items: center;
  }
}
.donation .heading {
  color: #545454;
  max-width: 300px;
}
@media screen and (max-width: 320px) {
  .donation .heading {
    max-width: 225px;
    margin-left: 3px;
  }
}
.donation .subheading {
  color: #545454;
}
@media screen and (max-width: 500px) {
  .donation .subheading {
    letter-spacing: 0;
    line-height: 160%;
  }
}
.donation .credit-card {
  max-width: 350px;
  display: flex;
  justify-content: "";
  align-items: "";
  gap: 15px;
  background: #F1CDB3;
  padding: 10px 15px;
  border-radius: 9px;
}
.donation .credit-card:hover {
  background: #FDDCC4;
}
@media screen and (max-width: 500px) {
  .donation .credit-card a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
.donation .description {
  color: #B2B2B2;
  letter-spacing: normal;
}
@media screen and (max-width: 767.5px) {
  .donation .description {
    text-align: justify;
  }
}
@media screen and (max-width: 500px) {
  .donation .description {
    padding: 0 5px;
    width: 290px;
  }
}

.credit-card__svg {
  width: 30px;
  height: 23px;
}
.credit-card__number {
  color: #545454;
}
@media screen and (max-width: 500px) {
  .credit-card__number {
    font-size: 15px;
    line-height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}

.footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 41px;
}
@media screen and (max-width: 850px) {
  .footer {
    padding-top: 30px;
  }
}
.footer .container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 300px 320px 300px;
  grid-template-areas: "contacts location puppy";
}
@media screen and (max-width: 1279.5px) {
  .footer .container {
    grid-template-rows: 234px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contacts location" "puppy    puppy";
    justify-items: center;
    column-gap: 60px;
    row-gap: 65px;
  }
}
@media screen and (max-width: 850px) {
  .footer .container {
    padding: 0;
    margin: 0 64px;
    column-gap: 40px;
  }
}
@media screen and (max-width: 767.5px) {
  .footer .container {
    grid-template-rows: 208px 222px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "contacts " "location" "puppy ";
    row-gap: 40px;
    column-gap: 0;
    margin: 0 10px;
  }
}
.footer .contacts,
.footer .locations {
  display: flex;
  flex-direction: column;
  gap: 42px;
  margin-top: 15px;
  max-height: 234px;
  max-width: 93.75vw;
}
@media screen and (max-width: 850px) {
  .footer .contacts,
.footer .locations {
    margin: 0;
    gap: 42px;
  }
}
@media screen and (max-width: 767.5px) {
  .footer .contacts,
.footer .locations {
    align-items: center;
  }
}
.footer .contacts {
  grid-area: contacts;
  max-width: 300px;
}
.footer .locations {
  grid-area: location;
  gap: 33px;
  max-width: 305px;
  max-height: 218px;
}
@media screen and (max-width: 850px) {
  .footer .locations {
    gap: 32px;
  }
}
@media screen and (max-width: 767.5px) {
  .footer .locations {
    align-items: normal;
  }
}
@media screen and (max-width: 500px) {
  .footer .locations {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0px;
  }
  .footer .locations .address {
    margin-left: 1px;
  }
}
.footer .locations .title {
  margin-left: -1px;
}
@media screen and (max-width: 320px) {
  .footer .locations .title {
    max-width: 270px;
    margin-left: 15px;
  }
}
.footer__puppy {
  max-width: 300px;
  grid-area: puppy;
}
@media screen and (max-width: 990px) {
  .footer__puppy {
    grid-column-start: span 2;
  }
}
@media screen and (max-width: 500px) {
  .footer__puppy {
    max-width: 260px;
  }
}
.footer .title {
  color: #FFFFFF;
}
.footer .mail,
.footer .phone,
.footer .boston,
.footer .london {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 320px) {
  .footer .mail,
.footer .phone,
.footer .boston,
.footer .london {
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .footer .boston {
    margin: -2px -2px 0 0;
  }
}
.footer .mail__address-text,
.footer .phone__number-text,
.footer .address {
  color: #F1CDB3;
  position: relative;
}
.footer .locations__icon {
  width: 22px;
  height: 32px;
}

.mail__address-text,
.phone__number-text {
  padding-left: 60px;
}
.mail__address-text:before,
.phone__number-text:before {
  content: "";
  width: 40px;
  height: 32px;
  display: inline-block;
  position: absolute;
}

@media screen and (max-width: 320px) {
  .mail__address-text {
    margin-top: 2px;
  }
}
.mail__address-text:before {
  background: url("../assets/icons/icon-email.svg") no-repeat;
  left: -1px;
  top: -2px;
}
@media screen and (max-width: 320px) {
  .mail__address-text:before {
    top: -4px;
  }
}

.phone__number-text {
  padding-top: 8px;
}
.phone__number-text:before {
  background: url("../assets/icons/icon-phone.svg") no-repeat;
  left: 0;
  top: 4px;
}
@media screen and (max-width: 320px) {
  .phone__number-text:before {
    top: 2px;
  }
}

.address {
  padding-left: 40px;
}
.address:before {
  content: "";
  background: url("../assets/icons/icon-marker.svg") no-repeat;
  width: 40px;
  height: 32px;
  display: inline-block;
  position: absolute;
  left: -2px;
  top: 7px;
}

.london .address {
  margin-top: 5px;
}
.london .address:before {
  top: -3px;
}

.header.our-pets {
  position: fixed;
  color: #545454;
  padding: 30px 40px;
  max-width: 1280px;
  width: 100%;
  background: #FFFFFF;
  margin: 0;
  top: 0;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .header.our-pets {
    padding: 30px;
  }
}
@media screen and (max-width: 767.5px) {
  .header.our-pets {
    color: #CDCDCD;
  }
}
@media screen and (max-width: 320px) {
  .header.our-pets {
    padding: 30px 53px 30px 10px;
  }
}
.header.our-pets .logo__title {
  color: #545454;
}
@media screen and (max-width: 767.5px) {
  .header.our-pets .nav-menu {
    display: none;
  }
}
.header.our-pets .nav-menu .logo__title {
  color: #F1CDB3;
}
.header.our-pets .nav-menu .logo__subtitle {
  color: #FFFFFF;
}
.header.our-pets .logo__subtitle,
.header.our-pets .nav-menu__item_active {
  color: #292929;
}
.header.our-pets .nav-menu__item_active {
  color: #292929;
}
.header.our-pets .nav-menu__item:hover {
  color: #292929;
}
.header.our-pets .burger span, .header.our-pets .burger:before, .header.our-pets .burger:after {
  background-color: #000000;
}
.header.our-pets .burger_open span, .header.our-pets .burger_open:before, .header.our-pets .burger_open:after {
  background-color: #F1CDB3;
}

.nav-menu-tablet {
  display: none;
}
@media screen and (max-width: 767.5px) {
  .nav-menu-tablet {
    position: fixed;
    display: block;
    top: 0;
    z-index: 3;
    right: -100%;
    max-width: 320px;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    transition: all 0.5s ease-in-out;
  }
}
.nav-menu-tablet .logo {
  width: 190px;
  display: none;
}
.nav-menu-tablet .logo__title {
  color: #545454;
}
.nav-menu-tablet .logo__subtitle {
  color: #292929;
}
@media screen and (max-width: 767.5px) {
  .nav-menu-tablet .logo {
    display: block;
    margin-top: 30px;
    margin-left: 10px;
  }
}
.nav-menu-tablet .nav-menu__list {
  display: flex;
  justify-content: "";
  align-items: "";
  gap: 35px;
  margin: 0 2px 0 0;
}
@media screen and (max-width: 768px) {
  .nav-menu-tablet .nav-menu__list {
    margin: -1px 2px 0 0;
  }
}
@media screen and (max-width: 767.5px) {
  .nav-menu-tablet .nav-menu__list {
    margin-top: -60px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
.nav-menu-tablet .nav-menu__item {
  color: #545454;
}
.nav-menu-tablet .nav-menu__item_active, .nav-menu-tablet .nav-menu__item:hover {
  color: #292929;
}
.nav-menu-tablet .nav-menu__item_active {
  border-bottom: 3px solid #F1CDB3;
}

@media screen and (max-width: 767.5px) {
  .our-pets .burger {
    display: block;
    position: fixed;
    right: 53px;
    top: 50px;
    width: 30px;
    height: 22px;
    z-index: 50;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .our-pets .burger span, .our-pets .burger:before, .our-pets .burger:after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition: all 0.3s ease-in-out;
  }
  .our-pets .burger span {
    left: 0;
    top: 10px;
  }
  .our-pets .burger:before, .our-pets .burger:after {
    content: "";
  }
  .our-pets .burger:before {
    top: 0;
  }
  .our-pets .burger:after {
    bottom: 0;
  }
  .our-pets .burger:hover:before {
    top: 2px;
  }
  .our-pets .burger:hover:after {
    bottom: 2px;
  }
  .our-pets .burger_open {
    transform: rotate(90deg);
  }
}

.nav-menu_open {
  right: 0;
}

.main.our-pets {
  background: #F6F6F6;
  margin-top: 120px;
}
.main.our-pets .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main.our-pets .heading {
  text-align: center;
  padding-top: 80px;
  max-width: 400px;
  margin-bottom: 59px;
}
@media screen and (max-width: 768px) {
  .main.our-pets .heading {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  .main.our-pets .heading {
    padding-top: 42px;
    margin-bottom: 41px;
  }
}
.main.our-pets .content {
  padding-bottom: 100px;
}
@media screen and (max-width: 768px) {
  .main.our-pets .content {
    padding-bottom: 77px;
  }
}
@media screen and (max-width: 320px) {
  .main.our-pets .content {
    padding-bottom: 44px;
  }
}
.main.our-pets .pets-container {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1279.5px) {
  .main.our-pets .pets-container {
    width: 580px;
  }
}
@media screen and (max-width: 767.5px) {
  .main.our-pets .pets-container {
    width: 270px;
  }
}
@media screen and (max-width: 1279.5px) {
  .main.our-pets .pets-card:last-child {
    display: flex;
  }
}
@media screen and (max-width: 767.5px) {
  .main.our-pets .pets-card:nth-last-child(2) {
    display: flex;
  }
}
.main.our-pets .pets-cards {
  display: flex;
  row-gap: 30px;
  column-gap: 0;
  justify-content: space-between;
  margin-bottom: 60px;
  width: 100%;
  min-width: 270px;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.main.our-pets .pets-card__page {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 40px;
  min-width: 1200px;
  min-height: 930px;
}
@media screen and (max-width: 1279.5px) {
  .main.our-pets .pets-card__page {
    min-width: 580px;
    min-height: 1365px;
  }
}
@media screen and (max-width: 767.5px) {
  .main.our-pets .pets-card__page {
    min-width: 270px;
  }
}
.main.our-pets .slider-navigation {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 400px) {
  .main.our-pets .slider-navigation {
    gap: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
