@import "./reset/reset";
@import "themes/colors";
@import "themes/text-styles";
@import "themes/buttons";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 500px) {
    padding: 0 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}


/*start styles header*/

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 1200px;
  width: 100%;
  margin-top: 60px;
  margin-left: 41px;

  &header__logo {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 1270px) {
    max-width: 95vw;
    margin-left: 15px;
  }

  @media screen and (max-width: 850px) {
    margin: 30px 0 30px 30px;
    width: auto;
  }

  &__nav-menu {
    @media screen and (max-width: 760px) {
      display: none;
    }
  }

  @media screen and (max-width: 500px) {
    margin-left: 10px;
  }
}

.logo {
  &__title {
    color: $color-primary;
    margin-bottom: 10px;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    color: $color-light-xl;
    padding-left: 3px;
  }
}

.nav-menu {
  &__list {
    display: flex;
    gap: 35px;
    margin-right: 3px;
    @media screen and (max-width: 850px) {
      margin-left: 80px;
    }
  }

  &__item.active, &__item:hover {
    color: $color-light-s;
  }

  &__item.active {
    border-bottom: 3px solid $color-primary;
  }
}

/*end styles header*/

/*start styles main*/

/*start styles start-screen*/

.main__start-screen {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  margin-bottom: 80px;

  @media screen and (max-width: 850px) {
    padding-top: 150px;
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 40px;
  }
}

.start-screen {
  &-container {
    display: grid;
    grid-gap: 42px;
    grid-template-columns: minmax(330px, 1fr) minmax(auto, 698px);

    @media screen and (max-width: 1270px) {
      grid-gap: 0;
    }

    @media screen and (max-width: 850px) {
      grid-template-columns: 1fr;
      grid-template-rows: 322px 1fr;
      justify-items: center;
      gap: 100px;
    }

    @media screen and (max-width: 760px) {
      gap: 105px;
    }

    @media screen and (max-width: 500px) {
      gap: 80px;
    }
  }

  &__content {
    margin-top: 343px;

    @media screen and (max-width: 1270px) {
      padding-left: 15px;
      margin-top: 28vw;
    }

    @media screen and (max-width: 850px) {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 500px) {
      max-width: 93.75vw;
    }
  }

  &__heading,
  &__subheading {
    @media screen and (max-width: 500px) {
      text-align: center;
    }
  }

  &__heading {
    color: $color-light-xl;
    margin-bottom: 42px;
    max-width: 310px;
    letter-spacing: 0;

    @media screen and (max-width: 850px) {
      margin-left: -150px;
    }

    @media screen and (max-width: 500px) {
      margin-left: 0;
      max-width: 250px;
      letter-spacing: 0.06em;
    }
  }

  &__subheading {
    max-width: 460px;
    margin-bottom: 42px;
  }

  &__puppy {
    margin-top: 180px;
    max-width: 698px;

    @media screen and (max-width: 1270px) {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    @media screen and (max-width: 850px) {
      margin-top: 0;
      margin-left: 140px;
      width: 74%;
    }

    @media screen and (max-width: 760px) {
      margin-left: 40px;
    }

    @media screen and (max-width: 500px) {
      width: 87%;
    }
  }
}

/*end styles start-screen*/

/*start styles about*/

.main__about {
  margin-bottom: 100px;

  @media screen and (max-width: 500px) {
    margin-bottom: 42px;
  }
}

.about {
  &__container {
    display: flex;
    gap: 120px;
    justify-content: center;

    @media screen and (max-width: 980px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 55px;
    }

    @media screen and (max-width: 500px) {
      gap: 20px;
    }
  }

  &__pets {
    width: 300px;

    @media screen and (max-width: 500px) {
      width: 260px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 430px;
    padding-top: 14px;

    @media screen and (max-width: 850px) {
      padding: 0;
    }

    @media screen and (max-width: 500px) {
      max-width: 100%;
      padding: 0 15px;
      margin: 0 auto;
    }
  }

  &__heading {
    color: $color-dark-l;
    width: 370px;
    margin-bottom: 25px;

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }

  &__subheading {
    color: $color-dark-xl;
    margin-bottom: 25px;

    @media screen and (max-width: 500px) {
      margin-bottom: 21px;
    }
  }
}

/*end styles about*/

/*start styles pets*/

.main__pets {
  background: $color-light-l;
  padding-top: 70px;
  padding-bottom: 100px;

  @media screen and (max-width: 850px) {
    padding-top: 80px;
  }

  @media screen and (max-width: 500px) {
    padding-top: 43px;
    padding-bottom: 45px;
  }
}

.pets {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    @media screen and (max-width: 500px) {
      gap: 40px;
    }
  }

  &__heading {
    width: 480px;
    color: $color-dark-l;
    text-align: center;
    margin-right: 50px;
    margin-top: -1px;

    @media screen and (max-width: 850px) {
      margin: 0;
    }

    @media screen and (max-width: 500px) {
      max-width: 290px;
    }
  }

  &__slider {
    display: grid;
    grid-template-columns: 1fr minmax(280px, 990px) 1fr;
    width: 100%;
    gap: 52px;
    align-items: center;

    @media screen and (max-width: 1270px) {
      padding: 0 30px;
    }

    @media screen and (max-width: 850px) {
      gap: 12px;
    }

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr 0 1fr;
      grid-template-rows: 435px 53px;
      grid-template-areas: "card       card    card"
                           "arrow-left   .     arrow-right ";
      justify-items: center;
      padding: 0;
      row-gap: 20px;
      column-gap: 0;
    }
  }
}

.slider {
  &__pets-cards {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 15px;

    @media screen and (max-width: 980px) {
      justify-content: center;
      gap: 43px;
    }

    @media screen and (max-width: 760px) {
      justify-content: center;
    }

    @media screen and (max-width: 500px) {
      grid-area: card;
      gap: 0;
    }
  }

  &__arrow-left {
    @media screen and (max-width: 500px) {
      grid-area: arrow-left;
      margin-left: 17px;
    }
  }

  &__arrow-right {
    @media screen and (max-width: 500px) {
      grid-area: arrow-right;
      margin-right: 17px;
    }
  }

  &__pets-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background: $color-light-s;
    grid-area: card;

    &:last-child {
      @media screen and (max-width: 980px) {
        display: none;
      }
    }

    &:nth-child(2) {
      @media screen and (max-width: 760px) {
        display: none;
      }
    }
  }
}

.pets-card {
  &__photo {
    width: 270px;
  }

  &__title {
    color: $color-dark-l;
  }

  &__more {
    padding-top: 15px;
    background: rgba(255, 255, 255, 0);
    border: 2px solid $color-primary;
    margin-bottom: 30px;
  }
}

/*end styles pets*/

/*start styles help*/

.help {
  &__content {
    margin-top: 80px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 500px) {
      margin-top: 41px;
      margin-bottom: 43px;
    }
  }

  &__heading {
    max-width: 310px;
    color: $color-dark-l;
    margin-bottom: 60px;
    text-align: center;

    @media screen and (max-width: 500px) {
      max-width: 250px;
      margin-bottom: 42px;
    }
  }

  &__list {
    display: flex;
    column-gap: 120px;
    row-gap: 55px;
    flex-wrap: wrap;
    max-width: 1030px;
    justify-content: center;

    @media screen and (max-width: 1270px) {
      margin: 0 15px;
    }

    @media screen and (max-width: 850px) {
      column-gap: 60px;
    }

    @media screen and (max-width: 500px) {
      gap: 30px;
      margin: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1270px) {
      width: 170px;
    }

    @media screen and (max-width: 500px) {
      width: 130px;
    }
  }

  &__item-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;

    @media screen and (max-width: 500px) {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }
  }

  &__item-title {
    color: $color-dark-l;

    @media screen and (max-width: 500px) {
      font-size: 15px;
      line-height: 110%;
    }
  }
}

/*end styles help*/

/*start styles donation*/

.main__donation {
  background: $color-light-l;
  padding-top: 78px;
  padding-bottom: 100px;

  @media screen and (max-width: 500px) {
    padding-top: 43px;
    padding-bottom: 43px;
  }
}

.donation {
  &__container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 980px) {
      flex-direction: column-reverse;
    }

    @media screen and (max-width: 850px) {
      gap: 60px;
    }

    @media screen and (max-width: 500px) {
      gap: 41px;
    }
  }

  &__img {
    max-width: 505px;
    max-height: 261px;

    @media screen and (max-width: 760px) {
      max-width: 81.25vw;
    }
  }

  &__content {
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 500px) {
      align-items: center;
      gap: 24px;
    }
  }

  &__heading {
    color: $color-dark-l;
    max-width: 300px;

    @media screen and (max-width: 500px) {
      max-width: 225px;
    }
  }

  &__subheading {
    color: $color-dark-l;

    @media screen and (max-width: 500px) {
      letter-spacing: 0;
    }
  }

  &__credit-card {
    max-width: 350px;
    display: flex;
    gap: 15px;
    background: $color-primary;
    padding: 10px 15px;
    border-radius: 9px;

    @media screen and (max-width: 500px) {
      width: 281px;
    }
  }

  &__description {
    color: $color-dark-m;

    @media screen and (max-width: 500px) {
      text-align: justify;
      padding: 0 9px;
      margin-top: -5px;
    }
  }
}

.credit-card {
  &__svg {
    width: 30px;
    height: 23px;
  }

  &__number {
    color: $color-dark-l;

    @media screen and (max-width: 500px) {
      font-size: 15px;
      line-height: 110%;
    }
  }
}

/*end styles donation*/

/*end styles main*/

/*start styles footer*/

.footer {
  &__background {
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    padding-top: 40px;

    @media screen and (max-width: 850px) {
      padding-top: 30px;
    }
  }

  &__container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 300px 320px 300px;
    grid-template-areas: "contacts location puppy";

    @media screen and (max-width: 1270px) {
      padding-left: 15px;
    }

    @media screen and (max-width: 980px) {
      grid-template-rows: 234px 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "contacts location"
                             "puppy    puppy";
      justify-items: center;
      column-gap: 60px;
      row-gap: 65px;
    }

    @media screen and (max-width: 850px) {
      padding: 0;
      margin: 0 64px;
      column-gap: 37px;
    }

    @media screen and (max-width: 760px) {
      grid-template-rows: 208px 222px 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "contacts "
        "location"
        "puppy ";
      row-gap: 40px;
      column-gap: 0;
      margin: 0 10px;
    }

    @media screen and (max-width: 500px) {
      margin: 0;
    }
  }

  &__contacts,
  &__locations {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 15px;
    max-height: 234px;
    max-width: 93.75vw;

    @media screen and (max-width: 850px) {
      margin: 0;
      gap: 42px;
    }

    @media screen and (max-width: 500px) {
      align-items: center;
    }
  }

  &__contacts {
    grid-area: contacts;
  }

  &__locations {
    grid-area: location;
    gap: 35px;
    max-width: 305px;

    @media screen and (max-width: 850px) {
      gap: 30px;
    }

    @media screen and (max-width: 500px) {
      gap: 40px;
    }
  }

  &__img {
    max-width: 300px;
    grid-area: puppy;

    @media screen and (max-width: 980px) {
      grid-column-start: span 2;
    }

    @media screen and (max-width: 500px) {
      max-width: 260px;
    }
  }
}

.contacts__title,
.locations__title {
  color: $color-light-xl;
}

.contacts__mail,
.contacts__phone,
.locations__boston,
.locations__london {
  display: flex;
  gap: 20px;
}

.locations__boston {
  @media screen and (max-width: 850px) {
    & .locations__icon {
      margin-top: 7px;
    }

    & .locations__address {
      margin-bottom: 8px;

      @media screen and (max-width: 500px) {
        margin-bottom: 3px;
      }
    }
  }
}

.locations__title {
  @media screen and (max-width: 500px) {
    width: 90vw;
  }
}

.locations__address {
  @media screen and (max-width: 500px) {
    width: 265px;
  }
}

.mail__icon,
.phone__icon {
  width: 40px;
  height: 32px;
}

.phone__icon {
  @media screen and (max-width: 850px) {
    margin-top: -6px;
  }
}

.mail__address-text,
.phone__number-text,
.locations__address {
  color: $color-primary;
}

.locations__icon {
  width: 22px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*end styles footer*/





