.header.our-pets {
  position: fixed;
  color: $color-dark-l;
  padding: 30px 40px;
  max-width: 1280px;
  width: 100%;
  background: $color-light-xl;
  margin: 0;
  top: 0;
  z-index: 2;
  @media screen and (max-width: $tablet-width) {
    padding: 30px;
  }

  @media screen and (max-width: $tablet-width - 0.5px) {
    color: $color-dark-s;
  }

  @media screen and (max-width: $mobile-width) {
    padding: 30px 53px 30px 10px;
  }

  .logo__title {
    color: $color-dark-l;
  }

  .nav-menu {
    @media screen and (max-width: $tablet-width - 0.5px) {
      display: none;
    }

    .logo__title {
      color: $color-primary;
    }

    .logo__subtitle {
      color: $color-light-xl;
    }
  }

  .logo__subtitle,
  .nav-menu__item_active {
    color: $color-dark-3xl;
  }

  .nav-menu__item_active {
    color: $color-dark-3xl;
  }

  .nav-menu__item:hover {
    color: $color-dark-3xl;
    @extend %transition;
  }

  .burger {
    span,
    &:before,
    &:after {
      background-color: $color-dark;
    }

    &_open {
      span,
      &:before,
      &:after {
        background-color: $color-primary;
      }
    }
  }
}

.nav-menu-tablet {
  display: none;
  @media screen and (max-width: $tablet-width - 0.5px) {
    position: fixed;
    display: block;
    top: 0;
    z-index: 3;
    right: -100%;
    max-width: 320px;
    width: 100%;
    height: 100%;
    background: $color-light-xl;
    transition: all 0.5s ease-in-out;
  }

  .logo {
    width: 190px;

    &__title {
      color: $color-dark-l;
    }

    &__subtitle {
      color: $color-dark-3xl;
    }

    display: none;
    @media screen and (max-width: $tablet-width - 0.5px) {
      display: block;
      margin-top: 30px;
      margin-left: 10px;
    }
  }

  .nav-menu {
    &__list {
      @include flex('', '', 35px);
      margin: 0 2px 0 0;

      @media screen and (max-width: $tablet-width) {
        margin: -1px 2px 0 0;
      }

      @media screen and (max-width: $tablet-width - 0.5px) {
        margin-top: -60px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
    }


    &__item {
      color: $color-dark-l;
    }

    &__item_active, &__item:hover {
      color: $color-dark-3xl;
      @extend %transition;
    }

    &__item_active {
      border-bottom: 3px solid $color-primary;
    }
  }

}

.our-pets {
  @media screen and (max-width: $tablet-width - 0.5px) {
    .burger {
      display: block;
      position: fixed;
      right: 53px;
      top: 50px;
      width: 30px;
      height: 22px;
      z-index: 50;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      span,
      &:before,
      &:after {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $color-dark;
        transition: all 0.3s ease-in-out;
      }

      span {
        left: 0;
        top: 10px;
      }

      &:before,
      &:after {
        content: "";
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      &:hover {
        &:before {
          top: 2px;
        }

        &:after {
          bottom: 2px;
        }
      }

      &_open {
        transform: rotate(90deg);
      }
    }
  }
}

.nav-menu_open {
  right: 0;
}

.main.our-pets {
  background: $color-light-l;
  margin-top: 120px;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .heading {
    text-align: center;
    padding-top: 80px;
    max-width: 400px;
    margin-bottom: 59px;

    @media screen and (max-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: $mobile-width) {
      padding-top: 42px;
      margin-bottom: 41px;
    }
  }

  .content {
    padding-bottom: 100px;

    @media screen and (max-width: $tablet-width) {
      padding-bottom: 77px;
    }

    @media screen and (max-width: $mobile-width) {
      padding-bottom: 44px;
    }
  }

  .pets-container {
    width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: $content-width - 0.5px) {
      width: 580px;
    }
    @media screen and (max-width: $tablet-width - 0.5px) {
      width: 270px;
    }
  }

  .pets-card {
    @media screen and (max-width: $content-width - 0.5px) {
      &:last-child {
        display: flex
      }
    }

    @media screen and (max-width: $tablet-width - 0.5px) {
      &:nth-last-child(2) {
        display: flex
      }
    }
  }

  .pets-cards {
    display: flex;
    row-gap: 30px;
    column-gap: 0;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 100%;
    min-width: 270px;
    left: 0;
    transition: all 0.5s ease-in-out;

  }

  .pets-card__page {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 40px;
    min-width: 1200px;
    min-height: 930px;

    @media screen and (max-width: $content-width - 0.5px) {
      min-width: 580px;
      min-height: 1365px;
    }

    @media screen and (max-width: $tablet-width - 0.5px) {
      min-width: 270px;
    }
  }

  .slider-navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    @media screen and (max-width: 400px) {
      gap: 10px;
    }
  }
}