.header.our-pets {
  position: fixed;
  color: $color-dark-l;
  padding: 30px 40px;
  max-width: 1280px;
  width: 100%;
  background: $color-light-xl;
  margin: 0;
  top: 0;
  z-index: 2;
  @media screen and (max-width: $tablet-width) {
    padding: 30px;
  }

  @media screen and (max-width: $tablet-width - 0.5px) {
    color: $color-dark-s;
  }

  @media screen and (max-width: $mobile-width) {
    padding: 30px 53px 30px 10px;
  }

  .logo__title {
    color: $color-dark-l;
  }

  .nav-menu {
    @media screen and (max-width: $tablet-width - 0.5px) {
      display:none;
    }
    .logo__title {
      color: $color-primary;
    }

    .logo__subtitle {
      color: $color-light-xl;
    }
  }

  .logo__subtitle,
  .nav-menu__item_active {
    color: $color-dark-3xl;
  }

  .nav-menu__item_active {
    color: $color-dark-3xl;

    @media screen and (max-width: $tablet-width - 0.5px) {
      color: $color-light-s;
    }
  }

  .nav-menu__item:hover {
    color: $color-dark-3xl;
    @extend %transition;
    @media screen and (max-width: $tablet-width - 0.5px) {
      color: $color-light-s;
    }
  }

  .burger {
    span,
    &:before,
    &:after {
      background-color: $color-dark;
    }

    &_open {
      span,
      &:before,
      &:after {
        background-color: $color-primary;
      }
    }
  }
}

.nav-menu-tablet {
  display: none;
  @media screen and (max-width: $tablet-width - 0.5px) {
    position: fixed;
    display:block;
    top: 0;
    z-index: 3;
    right: -100%;
    max-width: 320px;
    width: 100%;
    height: 100%;
    background: $color-dark-3xl;
    transition: all 0.5s ease-in-out;

    &_open {
      right: 0;
    }
  }
}

.main.our-pets {
  background: $color-light-l;
  margin-top: 120px;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .heading {
    text-align: center;
    padding-top: 80px;
    max-width: 400px;
    margin-bottom: 59px;

    @media screen and (max-width: $tablet-width) {
      margin-bottom: 30px;
    }

    @media screen and (max-width: $mobile-width) {
      padding-top: 42px;
      margin-bottom: 41px;
    }
  }

  .content {
    padding-bottom: 100px;

    @media screen and (max-width: $tablet-width) {
      padding-bottom: 77px;
    }

    @media screen and (max-width: $mobile-width) {
      padding-bottom: 44px;
    }
  }

  .pets-container {
    width: 1200px;
  }

  .pets-cards {
    display: flex;
    row-gap: 30px;
    column-gap: 0;
    justify-content: space-between;
    margin-bottom: 60px;
    width: 100%;
    min-width: 270px;
    left: 0;

    @media screen and (max-width: $content-width - 0.5px) {
      justify-content: space-evenly;
      column-gap: 200px;
    }

    @media screen and (max-width: 900px) {
      column-gap: 0;
    }

    @media screen and (max-width: $tablet-width) {
      width: 82%;
      margin: 0 auto 40px;
      justify-content: space-between;
    }
  }

  .pets-card__page {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap:  40px;
    min-width: 1200px;
    min-height: 930px;
  }

  .slider-navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    @media screen and (max-width: 400px) {
      gap: 10px;
    }
  }
}