.footer {
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  padding-top: 41px;

  @media screen and (max-width: 850px) {
    padding-top: 30px;
  }

  .container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 300px 320px 300px;
    grid-template-areas: "contacts location puppy";

    @media screen and (max-width: 980px) {
      grid-template-rows: 234px 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "contacts location"
                             "puppy    puppy";
      justify-items: center;
      column-gap: 60px;
      row-gap: 65px;
    }

    @media screen and (max-width: 850px) {
      padding: 0;
      margin: 0 64px;
      column-gap: 40px;
    }

    @media screen and (max-width: $tablet-width - 1px) {
      grid-template-rows: 208px 222px 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "contacts "
        "location"
        "puppy ";
      row-gap: 40px;
      column-gap: 0;
      margin: 0 10px;
    }

    //@media screen and (max-width: 500px) {
    //  margin: 0;
    //}
  }

  .contacts,
  .locations {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin-top: 15px;
    max-height: 234px;
    max-width: 93.75vw;

    @media screen and (max-width: 850px) {
      margin: 0;
      gap: 42px;
    }

    //@media screen and (max-width: 500px) {
    //  align-items: center;
    //}
  }

  .contacts {
    grid-area: contacts;
  }

  .locations {
    grid-area: location;
    gap: 33px;
    max-width: 305px;

    @media screen and (max-width: 850px) {
      gap: 32px;
    }

    //@media screen and (max-width: 500px) {
    //  gap: 40px;
    //}

    .title {
      margin-left: -1px;
    }
  }

  &__puppy {
    max-width: 300px;
    grid-area: puppy;

    @media screen and (max-width: 980px) {
      grid-column-start: span 2;
    }

    @media screen and (max-width: 500px) {
      max-width: 260px;
    }
  }

  .title {
    color: $color-light-xl;
  }

  .mail,
  .phone,
  .boston,
  .london {
    display: flex;
    gap: 20px;
  }

  .boston {
    @media screen and (max-width: 850px) {
      & .locations__icon {
        margin-top: 7px;
      }

      & .locations__address {
        margin-bottom: 8px;

        //@media screen and (max-width: 500px) {
        //  margin-bottom: 3px;
        //}
      }
    }
  }

  //.title {
  //  @media screen and (max-width: 500px) {
  //    width: 90vw;
  //  }
  //}

  //.address {
  //  @media screen and (max-width: 500px) {
  //    width: 265px;
  //  }
  //}

  .mail__address-text,
  .phone__number-text,
  .address {
    color: $color-primary;
    position: relative;
  }

  .locations__icon {
    width: 22px;
    height: 32px;
  }
}

.mail__address-text,
.phone__number-text {
  padding-left: 60px;

  &:before {
    content: '';
    width: 40px;
    height: 32px;
    display: inline-block;
    position: absolute;
  }
}

.mail__address-text {
  &:before {
    background: url('../../assets/icons/icon-email.svg') no-repeat;
    left: -1px;
    top: -2px;
  }
}

.phone__number-text {
  padding-top: 8px;

  &:before {
    background: url('../../assets/icons/icon-phone.svg') no-repeat;
    left: 0;
    top: 4px;
  }
}

.address {
  padding-left: 40px;

  &:before {
    content: '';
    background: url('../../assets/icons/icon-marker.svg') no-repeat;
    width: 40px;
    height: 32px;
    display: inline-block;
    position: absolute;
    left: -2px;
    top: 7px;
  }
}

.london .address {
  margin-top: 5px;
  &:before {
    top: -3px;
  }
}