.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: calc(100% - 60px);
  margin: 60px 0 0 41px;


  @media screen and (max-width: 850px) {
    margin: 30px 0 30px 30px;
  }

  .nav-menu {
    @media screen and (max-width: $tablet-width) {
      display: none;
    }
  }

  @media screen and (max-width: 500px) {
    margin-left: 10px;
  }
}

.nav-menu {
  margin-top: -2px;
  &__list {
    display: flex;
    gap: 35px;
    margin-right: 3px;
  }

  &__item_active, &__item:hover {
    color: $color-light-s;
    @extend %transition;
  }

  &__item_active {
    border-bottom: 3px solid $color-primary;
  }
}