.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: calc(100% - 60px);
  margin: 60px 0 0 41px;
  color: $color-dark-s;

  @media screen and (max-width: 850px) {
    margin: 30px 0 30px 30px;
  }

  .nav-menu {
    @media screen and (max-width: $tablet-width - 1px) {
      display: none;
    }

    &__list {
      display: flex;
      gap: 35px;
      margin: 0 3px 0 0;
      @media screen and (max-width: 850px) {
        margin: -1px 2px 0 0;
      }

    }

    &__item_active, &__item:hover {
      color: $color-light-s;
      @extend %transition;
    }

    &__item_active {
      border-bottom: 3px solid $color-primary;
    }
  }
}
