.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 1200px;
  width: 100%;
  margin-top: 60px;
  margin-left: 41px;


  @media screen and (max-width: 1270px) {
    max-width: 95vw;
    margin-left: 15px;
  }

  @media screen and (max-width: 850px) {
    margin: 30px 0 30px 30px;
    width: auto;
  }

  &__nav-menu {
    @media screen and (max-width: 760px) {
      display: none;
    }
  }

  @media screen and (max-width: 500px) {
    margin-left: 10px;
  }
}

.nav-menu {
  &__list {
    display: flex;
    gap: 35px;
    margin-right: 3px;
    @media screen and (max-width: 850px) {
      margin-left: 80px;
    }
  }

  &__item_active, &__item:hover {
    color: $color-light-s;
    @extend %transition;
  }

  &__item_active {
    border-bottom: 3px solid $color-primary;
  }
}