.pets {
  padding: 80px 0 100px;
  background: $color-light-l;

  @media screen and (max-width: 500px) {
    padding: 42px 0 45px;
  }

  .content {
    @include flex(center, center, 60px);
    flex-direction: column;
    @media screen and (max-width: 500px) {
      gap: 41px;
    }
  }

  .heading {
    text-align: center;
  }

  .slider {
    width: 100%;
    @include flex(space-between, center);

    @media screen and (max-width: 500px) {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 20px;
      column-gap: 80px;
      .pets-card {
        order: 5;
      }
      .arrow-left {
        order: 3;
      }
      .arrow-right {
        order: 4;
      }
    }
  }
}

.arrow-left {
}

.switch {
}

.pets-container {
  position: relative;
  width: 990px;
  overflow: hidden;

  @media screen and (max-width: 1100px) {
    width: 81.5%;
  }

  @media screen and (max-width: 500px) {
    width: 100%;
  }

}


.pets-cards {
  @include flex(space-between, center, 90px);


  @media screen and (max-width: 1100px) {
   gap: 39px;
  }

  @media screen and (max-width: $tablet-width - 1px) {
    justify-content: center;
  }


  .pets-card {
    width: 270px;
    height: 435px;
    flex-shrink: 0;
    @include flex(center, center, 30px);
    flex-direction: column;
    background: $color-light-s;
    border-radius: 9px;

    @media screen and (max-width: 1100px) {
      &:last-child {
        display: none
      }
    }

    @media screen and (max-width: $tablet-width - 1px) {
      &:nth-last-child(2) {
        display: none
      }
    }

    &:hover {
      box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
      background: $color-light-xl;

      .button {
        background: $color-primary-light;
        @extend %transition;
      }
    }

    &__name {
      color: $color-dark-l;
    }

    // .pets-card__photo
    &__photo {

    }

    // .pets-card__title
    &__title {
    }

    .button {
      // .button_transparent
      &_transparent {
        margin-bottom: 30px;
      }
    }
  }
}


.arrow-right {
}