.start-screen {
  background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  margin-bottom: 80px;
  padding-top: 180px;

  @media screen and (max-width: 900px) {
    padding-top: 150px;
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 40px;
  }


  &__container {
    display: grid;
    grid-template-columns: minmax(330px, 1fr) minmax(auto, 698px);

    @media screen and (max-width: 850px) {
      grid-template-columns: 1fr;
      grid-template-rows: 322px 1fr;
      justify-items: center;
      gap: 100px;
    }

    @media screen and (max-width: 760px) {
      gap: 105px;
    }

    @media screen and (max-width: 500px) {
      gap: 80px;
    }
  }

  .content {
    margin-top: 163px;

    @media screen and (max-width: 1270px) {
      margin-top: 15vw;
    }

    @media screen and (max-width: 850px) {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 500px) {
      max-width: 93.75vw;
    }


  }

  .heading,
  .subheading {
    @media screen and (max-width: 500px) {
      text-align: center;
    }
  }

  .heading {
    color: $color-light-xl;
    margin-bottom: 42px;
    max-width: 310px;
    letter-spacing: 0;

    @media screen and (max-width: 850px) {
      margin-left: -150px;
    }

    @media screen and (max-width: 500px) {
      margin-left: 0;
      max-width: 250px;
      letter-spacing: 0.06em;
    }

    @media screen and (max-width: 500px) {
      margin-bottom: 41px;
    }
  }

  .subheading {
    max-width: 460px;
    margin-bottom: 42px;
    color: $color-dark-s;
  }

  &__puppy {
    max-width: 698px;
    width: 100%;
    margin: auto;
    @media screen and (max-width: 1270px) {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    @media screen and (max-width: 850px) {
      position: relative;
      left: 70px;
      max-width: 569px ;
      max-height: 593px;
    }

    @media screen and (max-width: 730px) {
      position: static;

    }

    }
}