.button {
  padding: 16px 45px;
  height: 52px;
  border-radius: 100px;
  border: 0;
  background: #F1CDB3;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: $spacing;
  color: $color-dark-3xl;

  &:hover {
    background: $color-primary-light;
    @extend %transition;
  }
}

.button_transparent {
  background: rgba(255, 255, 255, 0);
  border: 2px solid $color-primary;
}

.switch {
  padding: 0;
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0);
  font-size: 1.4rem;

  &:hover,
  &_active {
    background: $color-primary-light;
    @extend %transition;
  }

  &_inactive {
    color: $color-dark-s;
    border-color: $color-dark-s;

    &:hover {
      background: none;
    }
  }
}


