html {
  scroll-behavior: smooth;
  background: $color-light-xl;
}

*, *:before, *:after {
  font-family: "Georgia Regular", sans-serif;
  letter-spacing: $spacing;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

body {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 40px;
  @media screen and (max-width: $mobile-width) {
    margin: 0;
  }
}

.logo {
  &__title {
    color: $color-primary;
    margin-bottom: 10px;
  }

  &__subtitle {
    @include flex('', center);
    color: $color-light-xl;
    padding-left: 3px;
  }
}



