html {
  box-sizing: border-box;
    font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: "Georgia", sans-serif;
  letter-spacing: $spacing;
  font-weight: normal;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 1280px;
  margin: 0 auto;

}

.wrapper {
  margin: 0 40px;
  @media screen and (max-width: $tablet-width) {

  }
}

.logo {
  &__title {
    color: $color-primary;
    margin-bottom: 10px;
  }

  &__subtitle {
    display: flex;
    align-items: center;
    color: $color-light-xl;
    padding-left: 3px;
  }
}



