html {
  box-sizing: border-box;
  font-family: "Georgia", sans-serif;
  letter-spacing: $spacing;
  font-weight: normal;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}


h2 {
  font-size: 44px;
  line-height: 130%;
  color: #C4C4C4;
}

h3 {
  font-size: 35px;
  line-height: 130%;
  color: $color-dark-l;
}


.h3-mobile {
  @media screen and (max-width: 500px) {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }
}

h4 {
  font-size: 20px;
  line-height: 115%;
}

h5 {
  font-size: 15px;
  line-height: 110%;
}

.h5-modal-window {
  font-size: 15px;
  line-height: 110%;
}

.paragraph-l {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-s;

  @media screen and (max-width: 500px) {
    text-align: justify;
  }
}

.paragraph-s {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
}

.paragraph-mobile-menu {
  @media screen and (max-width: $tablet-width) {
    font-family: Arial, sans-serif;
    font-size: 32px;
    line-height: 160%;
  }
}

.logo__title {
  font-size: 32px;
  line-height: 110%;

}

.logo__subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}


