h2 {
  color: #C4C4C4;
  @include font(4.4rem, 130%);
}

h3 {
  color: $color-dark-l;
  @include font(3.5rem, 130%);
}

.h3-mobile {
  @media screen and (max-width: 500px) {
    @include font(2.5rem, 130%);
    text-align: center;
  }
}

h4 {
  @include font(2rem, 115%);
}

h5 {
  @include font(1.5rem, 110%);
}

.h5-modal-window {
  @include font(1.5rem, 110%);
}

.paragraph-l {
  font-family: Arial, sans-serif;
  letter-spacing: 0;
  @include font(1.5rem, 160%);

  @media screen and (max-width: 500px) {
    text-align: justify;
  }
}

.paragraph-s {
  font-family: Arial, sans-serif;
  font-style: italic;
  @include font(1.2rem, 150%, normal, italic);
}

.paragraph-mobile-menu {
  @media screen and (max-width: $tablet-width) {
    font-family: Arial, sans-serif;
  }
  @include font(3.2rem, 160%);
}

.logo__title {
  @include font(3.2rem, 110%);
}

.logo__subtitle {
  font-family: Arial, sans-serif;
  letter-spacing: 0.1em;
  @include font(1.3rem, 15px);
}