@font-face {
  font-family: 'Georgia Regular';
  src: url('../assets/fonts/Georgia.eot');
  src: url('../assets/fonts/Georgia.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Georgia.woff') format('woff'),
  url('../assets/fonts/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/Arial-ItalicMT.eot');
  src: local('Arial Italic'), local('Arial-ItalicMT'),
  url('../assets/fonts/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Arial-ItalicMT.woff') format('woff'),
  url('../assets/fonts/Arial-ItalicMT.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Arial';
  src: url('../assets/fonts/ArialMT.eot');
  src: local('Arial'), local('ArialMT'),
  url('../assets/fonts/ArialMT.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/ArialMT.woff') format('woff'),
  url('../assets/fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h2 {
  color: #C4C4C4;
  @include font(4.4rem, 130%);
}

h3 {
  color: $color-dark-l;
  @include font(3.5rem, 45px);
}

.h3-mobile {
  @media screen and (max-width: $tablet-width - 0.5px) {
    @include font(2.5rem, 130%);
    text-align: center;
  }
}

h4 {
  @include font(2rem, 115%);
}

.switch.switch-slider {
  @extend h4;
}

h5 {
  @include font(1.5rem, 110%);
 }

.h5-modal-window {
  @include font(1.5rem, 110%);
}

.paragraph-l {
  font-family: Arial, sans-serif;
  letter-spacing: 0;
  @include font(1.5rem, 160%);

  @media screen and (max-width: 500px) {
    text-align: center;
  }
}

.paragraph-s {
  font-family: 'Arial', sans-serif;
  font-style: italic;
  @include font(1.2rem, 150%, normal, italic);
}

.paragraph-mobile-menu {
  @media screen and (max-width: $tablet-width - 0.5px) {
    @include font(3.2rem, 160%);
    font-family: 'Arial', sans-serif;
  }
}

.logo__title {
  @include font(3.2rem, 110%);
}

.logo__subtitle {
  font-family: 'Arial', sans-serif;
  letter-spacing: 0.1em;
  @include font(1.3rem, 15px);
}

.credit-card {
  @media screen and (max-width: 500px) {
    font-size: 15px;
    line-height: 110%;
  }
}

.help__item-title {
  @media screen and (max-width: 500px) {
    font-size: 15px;
    line-height: 110%;
  }
}

.modal-window {
}

.pets-card__description {
  @media screen and (max-width: $content-width - 0.5px) {
    @include font(1.3rem, 110%);
  }
}