@mixin font ($size, $height, $weight: normal, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

@mixin flex($justify: normal, $align: normal, $gap: 0px, $wrap: nowrap, $direction: row){
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
  flex-direction: $direction;
}